sounddevice>=0.4.6
pywhispercpp>=1.5.0
bottombar>=2.1
pystray>=0.19.5;            sys_platform == "win32"
pillow>=10.0.0
numpy>=1.24.0
pywin32>=306;                sys_platform == "win32"
pyobjc-framework-Quartz>=10.0; sys_platform == "darwin"
pyobjc-framework-Cocoa>=10.0;  sys_platform == "darwin"
pyobjc-framework-ApplicationServices>=10.0; sys_platform == "darwin"
rumps>=0.4.0;                sys_platform == "darwin"
